<!DOCTYPE html>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('/w3images/parallax1.jpg');
  min-height: 100%;
}

/* Second image (Drinks) */
.bgimg-2 {
  background-image: url("/w3images/parallax2.jpg");
  min-height: 400px;
}

/* Third image (Snacks) */
.bgimg-2 {
  background-image: url("/w3images/parallax2.jpg");
  min-height: 400px;
}

/* Forth image (Contact) */
.bgimg-3 {
  background-image: url("/w3images/parallax3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}

* {
  box-sizing: border-box;
}

/*Page Column*/
.row0 {
  display: flex;
}

.column0 {
  flex: 20%;
  padding: 5px;
}

/*Modal Column*/
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Serving Button*/
form {
  width: 300px;
  margin: 0 auto;
}

#decrese0 {
  margin-right: -4px;
  margin-top: -5px;
  border-radius: 8px 0 0 8px;
}

#increase0 {
  margin-left: -4px;
  margin-top: -5px;
  border-radius: 0 8px 8px 0;
}

.value-button:hover {
  cursor: pointer;
}

input#number0 {
  text-align: center;
  border: none;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Cart Button*/
form {
  width: 300px;
  margin: 0 auto;
}

#decrese {
  margin-right: -4px;
  margin-top: -4px;
  border-radius: 8px 0 0 8px;
}

#increase {
  margin-left: -4px;
  margin-top: -4px;
  border-radius: 0 8px 8px 0;
}

.value-button:hover {
  cursor: pointer;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Page Cropped Image*/
.crop {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    background-color: white;
}
</style>

<html lang="en">
<head>
    <title>The_Pub</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="w3-bar-item w3-button w3-allerta">HOME</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small w3-allerta">ABOUT</a>
    <a href="#drinks" class="w3-bar-item w3-button w3-hide-small w3-allerta">DRINKS</a>
    <a href="#snacks" class="w3-bar-item w3-button w3-hide-small w3-allerta">SNACKS</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-allerta">CONTACT</a>
    <a href="#cart" class="w3-bar-item w3-button w3-hide-small w3-right w3-allerta" onClick="openCartModal(this)"><i class="fa fa-shopping-cart" style="font-size:20px"></i>&nbspCART&nbsp<span class="w3-badge">0</span></a>
    <a href="#login" class="w3-bar-item w3-button w3-hide-small w3-right w3-allerta" onClick="onClick0(this)"><i class="glyphicon glyphicon-user" style="font-size:16px"></i>&nbspLOGIN</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#about" class="w3-bar-item w3-button w3-allerta" onclick="toggleFunction()">ABOUT</a>
    <a href="#drinks" class="w3-bar-item w3-button w3-allerta" onclick="toggleFunction()">DRINKS</a>
    <a href="#snacks" class="w3-bar-item w3-button w3-allerta" onclick="toggleFunction()">SNACKS</a>
    <a href="#contact" class="w3-bar-item w3-button w3-allerta" onclick="toggleFunction()">CONTACT</a>
    <a href="#cart" class="w3-bar-item w3-button w3-hide-small w3-right w3-allerta" onclick="toggleFunction()" onClick="openCartModal(this)"><i class="fa fa-shopping-cart" style="font-size:24px"></i>&nbsp<span class="w3-badge">0</span></a>
    <a href="#login" class="w3-bar-item w3-button w3-hide-small w3-right w3-allerta" onclick="toggleFunction()"><i class="glyphicon glyphicon-user" style="font-size:16px"></i>&nbspLOGIN</a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle" style="white-space:pre;">
        <span class="w3-center w3-padding-64 w3-padding-large w3-black w3-jumbo w3-allerta">The_Pub</span>
    </div>
</div>
<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center w3-xxxlarge w3-allerta">WELCOME</h3>
    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/12/Bar_in_einem_Pub_in_Dublin_%2822284345600%29.jpg" style="width:100%" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Pub image" width="500" height="333">
        </div>
        <!-- Hide this text on small devices -->
        <div class="w3-col m6 w3-hide-small w3-padding-large w3-allerta">
            <p>Welcome to the pub.</p>
        </div>
    </div>
</div>


<div id="login" class="w3-modal">
    <div class="w3-modal-content w3-round-xlarge">
        <div class="w3-container">
            <span onclick="document.getElementById('login').style.display='none'" class="w3-button w3-display-topright w3-round w3-xlarge">&times;</span>
            <div class="w3-container">
                <br /><p class="w3-allerta w3-xxlarge" style="text-align:center">LOGIN</p><br />
                <p class="w3-allerta w3-center">Username</p>
                <p class="w3-center"><input type="text" name="username" maxlength="10" style="text-align:center"></p>
                <p class="w3-allerta w3-center">Password</p>
                <p class="w3-center"><input type="password" name="password" maxlength="40" style="text-align:center"></p><br />
                <p class="w3-center"><button class="w3-button w3-black w3-border w3-round-large w3-allerta w3-center" style="margin:0; display:inline-block">LOGIN</button></p><br />
            </div>
        </div>
    </div>
</div>


<!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
<div class="w3-content container w3-padding-64" id="drinks">
    <h3 class="w3-center w3-xxlarge w3-allerta">DRINKS</h3>
    <p class="w3-center w3-medium w3-allerta"><em>Here are some drinks <br> Click to view larger</em></p><br>
    <div class="row0 w3-center">
        <div class="column0">
            <button style="margin:0;padding:0;border:none" onclick="document.getElementById('unit').style.display='block'">
                <img src="https://storage.needpix.com/rsynced_images/guinness-2258472_1280.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)" class="w3-hover-opacity crop" alt="Guinness">
            </button>
        </div>
        <div class="column0">
            <button style="margin:0;padding:0;border:none" onclick="document.getElementById('unit').style.display='block'">
                <img src="https://cdn.pixabay.com/photo/2019/11/17/04/59/budweiser-4631562_960_720.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)" class="w3-hover-opacity crop" alt="Budweiser">
            </button>
        </div>
        <div class="column0">
            <button style="margin:0;padding:0;border:none" onclick="document.getElementById('unit').style.display='block'">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7f/CarlingPint2019.jpg/900px-CarlingPint2019.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)" class="w3-hover-opacity crop" alt="Carling">
            </button>
        </div>
        <div class="column0">
            <button style="margin:0;padding:0;border:none" onclick="document.getElementById('unit').style.display='block'">
                <img src="https://live.staticflickr.com/7679/17949002792_870d556cc5_b.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)" class="w3-hover-opacity crop" alt="Stella Artois">
            </button>
        </div>
        <div class="column0">
            <button style="margin:0;padding:0;border:none" onclick="document.getElementById('unit').style.display='block'">
                <img src="https://live.staticflickr.com/24/53360722_45db7ca003_h.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)" class="w3-hover-opacity crop" alt="Strongbow">
            </button>
        </div>
    </div>

    <!-- Modal for full size images on click-->
    <div id="unit" class="w3-modal">
        <div class="w3-modal-content w3-black">
            <div class="w3-container">
                <span onclick="document.getElementById('unit').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <div class="row">
                    <div class="column">
                        <p><img id="img01" style="width:90%"></p>
                        <p id="caption" class="w3-opacity w3-large w3-text-white"></p>
                    </div>
                    <div class="column">
                        <p class="w3-allerta w3-xxlarge" style="text-align:center">UNIT</p><br /><br /><br />
                        <button class="w3-button w3-black w3-border w3-round-large w3-allerta" style="margin:0; display:inline-block">CAN</button><span id="canPrice" class="w3-large">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;£2</span><br /><br />
                        <button class="w3-button w3-black w3-border w3-round-large w3-allerta" style="margin:0; display:inline-block;">BOTTLE</button><span id="bottlePrice" class="w3-large">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;£3</span><br /><br />
                        <button class="w3-button w3-black w3-border w3-round-large w3-allerta" style="margin:0; display:inline-block;">PINT</button><span id="pintPrice" class="w3-large">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;£4.5</span><br /><br />
                        <button class="w3-button w3-black w3-border w3-round-large w3-allerta" style="margin:0; display:inline-block;">QUART</button><span id="quartPrice" class="w3-large">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;£6</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        <div class="row0 w3-center">
            <div class="column0">
                <button style="margin:0;padding:0" onclick="document.getElementById('shot').style.display='block'" class="w3-button w3-black">
                    <img src="https://cdn.pixabay.com/photo/2018/11/09/23/42/whiskey-3805737_960_720.jpg" style="width:100%;cursor:zoom-in" onclick="onClick2(this)" class="w3-hover-opacity crop" alt="Jack Daniels">
                </button>
            </div>
            <div class="column0">
                <button style="margin:0;padding:0" onclick="document.getElementById('shot').style.display='block'" class="w3-button w3-black">
                    <img src="https://live.staticflickr.com/2762/4050223212_6e2ada5ab6_h.jpg" style="width:100%;cursor:zoom-in" onclick="onClick2(this)" class="w3-hover-opacity crop" alt="Famous Grouse">
                </button>
            </div>
            <div class="column0">
                <button style="margin:0;padding:0" onclick="document.getElementById('shot').style.display='block'" class="w3-button w3-black">
                    <img src="https://c2.staticflickr.com/8/7170/6388475849_84b4f7cb2a_b.jpg" style="width:100%;cursor:zoom-in" onclick="onClick2(this)" class="w3-hover-opacity crop" alt="Russian Standard">
                </button>
            </div>
            <div class="column0">
                <button style="margin:0;padding:0" onclick="document.getElementById('shot').style.display='block'" class="w3-button w3-black">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Gordons_London_Dry_Gin_im_Regal.jpg" style="width:100%;cursor:zoom-in" onclick="onClick2(this)" class="w3-hover-opacity crop" alt="Gordon's Gin">
                </button>
            </div>
            <div class="column0">
                <button style="margin:0;padding:0" onclick="document.getElementById('shot').style.display='block'" class="w3-button w3-black">
                    <img src="https://thumbs.dreamstime.com/b/captain-morgan-rum-kiev-ukraine-feb-originated-us-virgin-islands-brand-produced-diageo-british-multinational-113303728.jpg" style="width:100%;cursor:zoom-in" onclick="onClick2(this)" class="w3-hover-opacity crop" alt="Captain Morgan">
                </button>
            </div>
        </div>
    </p>
    <div id="shot" class="w3-modal">
        <div class="w3-modal-content w3-black">
            <div class="w3-container">
                <span onclick="document.getElementById('shot').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <div class="row">
                    <div class="column">
                        <p><img id="img02" style="width:90%"></p>
                        <p id="caption2" class="w3-opacity w3-large w3-text-white"></p>
                    </div>
                    <div class="column">
                        <p class="w3-allerta w3-xxlarge" style="text-align:center">SHOT</p><br /><br /><br />
                        <button class="w3-button w3-black w3-border w3-round-large w3-allerta" style="margin:0; display:inline-block;">SINGLE</button><span id="singlePrice" class="w3-large">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;£4</span><br /><br />
                        <button class="w3-button w3-black w3-border w3-round-large w3-allerta" style="margin:0; display:inline-block;">LARGE SINGLE</button><span id="lsinglePrice" class="w3-large">&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;£4.5</span><br /><br />
                        <button class="w3-button w3-black w3-border w3-round-large w3-allerta" style="margin:0; display:inline-block;">DOUBLE</button><span id="doublePrice" class="w3-large">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;£5</span><br /><br />
                        <button class="w3-button w3-black w3-border w3-round-large w3-allerta" style="margin:0; display:inline-block;">LARGE DOUBLE</button><span id="ldoublePrice" class="w3-large">&emsp;&emsp;&emsp;&emsp;£6</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        <div class="row0 w3-center">
            <div class="column0">
                <button style="margin:0;padding:0" onclick="document.getElementById('shot').style.display='block'" class="w3-button w3-black">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Jameson_Signature_Reserve_%26_Jameson_Black_Barrel_Select_Reserve.jpg" style="width:100%;cursor:zoom-in" onclick="onClick2(this)" class="w3-hover-opacity crop" alt="Jameson">
                </button>
            </div>
            <div class="column0">
                <button style="margin:0;padding:0" onclick="document.getElementById('shot').style.display='block'" class="w3-button w3-black">
                    <img src="https://live.staticflickr.com/2089/2237754240_f93da2a1cd_h.jpg" style="width:100%;cursor:zoom-in" onclick="onClick2(this)" class="w3-hover-opacity crop" alt="Grey Goose">
                </button>
            </div>
            <div class="column0">
                <button style="margin:0;padding:0" onclick="document.getElementById('shot').style.display='block'" class="w3-button w3-black">
                    <img src="https://live.staticflickr.com/7372/9556306999_7d5822ef09_b.jpg" style="width:100%;cursor:zoom-in" onclick="onClick2(this)" class="w3-hover-opacity crop" alt="Southern Comfort">
                </button>
            </div>
            <div class="column0">
                <button style="margin:0;padding:0" onclick="document.getElementById('shot').style.display='block'" class="w3-button w3-black">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Photography_by_David_Adam_Kess_Johnnie_Walker_Black_Label_Whisky.jpg/900px-Photography_by_David_Adam_Kess_Johnnie_Walker_Black_Label_Whisky.jpg" style="width:100%;cursor:zoom-in" onclick="onClick2(this)" class="w3-hover-opacity crop" alt="Johnnie Walker Black Label">
                </button>
            </div>
            <div class="column0">
                <button style="margin:0;padding:0" onclick="document.getElementById('shot2').style.display='block'" class="w3-button w3-black">
                    <img src="https://live.staticflickr.com/7423/9175218771_2073a7d9e7_h.jpg" style="width:100%;cursor:zoom-in" onclick="onClick3(this)" class="w3-hover-opacity crop" alt="Crystal Head">
                </button>
            </div>
        </div>
    </p>

    <div id="shot2" class="w3-modal">
        <div class="w3-modal-content w3-black">
            <div class="w3-container">
                <span onclick="document.getElementById('shot2').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <div class="row">
                    <div class="column">
                        <p><img id="img03" style="width:90%"></p>
                        <p id="caption3" class="w3-opacity w3-large w3-text-white"></p>
                    </div>
                    <div class="column">
                        <p class="w3-allerta w3-xxlarge" style="text-align:center">SHOT</p><br /><br /><br />
                        <button class="w3-button w3-black w3-border w3-round-large w3-allerta" style="margin:0; display:inline-block;">SINGLE</button><span id="singlePrice" class="w3-large">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;£4</span><br /><br />
                        <button class="w3-button w3-black w3-border w3-round-large w3-allerta" style="margin:0; display:inline-block;">LARGE SINGLE</button><span id="lsinglePrice" class="w3-large">&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;£6</span><br /><br />
                        <button class="w3-button w3-black w3-border w3-round-large w3-allerta" style="margin:0; display:inline-block;">DOUBLE</button><span id="doublePrice" class="w3-large">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;£9</span><br /><br />
                        <button class="w3-button w3-black w3-border w3-round-large w3-allerta" style="margin:0; display:inline-block;">LARGE DOUBLE</button><span id="ldoublePrice" class="w3-large">&emsp;&emsp;&emsp;&emsp;&emsp;£13</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        <div class="row0 w3-center">
            <div class="column0">
                <button style="margin:0;padding:0" onclick="document.getElementById('soft').style.display='block'" class="w3-button w3-black">
                    <img src="https://media.npr.org/assets/img/2012/02/04/dietcoke_custom-0473c1516f8a6fd514e84622d0e092ae0172a66c-s800-c85.jpg" style="width:100%;cursor:zoom-in" onclick="onClick4(this)" class="w3-hover-opacity crop" alt="Diet Coke">
                </button>
            </div>
            <div class="column0">
                <button style="margin:0;padding:0" onclick="document.getElementById('soft').style.display='block'" class="w3-button w3-black">
                    <img src="https://799033.smushcdn.com/1558120/wp-content/uploads/2015/08/Fever-Tree-Refreshingly-Light-Indian-Tonic-Water.jpeg?lossy=1&strip=1&webp=1" style="width:100%;cursor:zoom-in" onclick="onClick4(this)" class="w3-hover-opacity crop" alt="Tonic Water">
                </button>
            </div>
            <div class="column0">
                <button style="margin:0;padding:0" onclick="document.getElementById('soft').style.display='block'" class="w3-button w3-black">
                    <img src="https://live.staticflickr.com/2069/2522547124_9f1a32153d_b.jpg" style="width:100%;cursor:zoom-in" onclick="onClick4(this)" class="w3-hover-opacity crop" alt="Ginger Ale">
                </button>
            </div>
            <div class="column0">
                <button style="margin:0;padding:0" onclick="document.getElementById('soft').style.display='block'" class="w3-button w3-black">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Black_coffee_with_saucer_and_spoon.jpg" style="width:100%;cursor:zoom-in" onclick="onClick4(this)" class="w3-hover-opacity crop" alt="Hot Coffee">
                </button>
            </div>
            <div class="column0">
                <button style="margin:0;padding:0" onclick="document.getElementById('soft').style.display='block'" class="w3-button w3-black">
                    <img src="https://cdn.pixabay.com/photo/2019/03/21/14/30/tea-4071139_960_720.jpg" style="width:100%;cursor:zoom-in" onclick="onClick4(this)" class="w3-hover-opacity crop" alt="Hot Tea">
                </button>
            </div>
        </div>
    </p>

    <div id="soft" class="w3-modal">
        <div class="w3-modal-content w3-black">
            <div class="w3-container">
                <span onclick="document.getElementById('soft').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <div class="row">
                    <div class="column">
                        <p><img id="img04" style="width:90%"></p>
                        <p id="caption4" class="w3-opacity w3-large w3-text-white"></p>
                    </div>
                    <div class="column">
                        <p class="w3-allerta w3-xxlarge" style="text-align:center">SOFT DRINK</p><br /><br /><br /><br />
                        <button class="w3-button w3-black w3-border w3-round-large w3-allerta" style="margin:0; display:inline-block; font-size:18px;">£1</button><span id="ldoublePrice" class="w3-large"></span>
                        &emsp;&emsp;<input class="w3-check" type="checkbox"><label class="w3-allerta">ICE</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w3-content w3-container w3-padding-64" id="snacks">
    <h3 class="w3-center w3-xxlarge w3-allerta">SNACKS</h3>
    <p class="w3-center w3-medium w3-allerta"><em>Here are some snacks <br> Click to view larger</em></p><br>
    <div class="w3-row-padding w3-center">
        <div class="w3-col m3">
            <button style="margin:0;padding:0" onclick="document.getElementById('modal02').style.display='block'" class="w3-button w3-black">
                <img src="https://images.pexels.com/photos/2253592/pexels-photo-2253592.jpeg?cs=srgb&dl=agbiopix-shrimp-fresh-seafood-agriculture-2253592.jpg&fm=jpg" style="width:100%;cursor:zoom-in" onclick="onClick5(this)" class="w3-hover-opacity crop" alt="Scampi Fries">
            </button>
        </div>
        <div class="w3-col m3">
            <button style="margin:0;padding:0" onclick="document.getElementById('modal02').style.display='block'" class="w3-button w3-black">
                <img src="http://centra.ie/image/var/files/products/Walkers-Salt-Vinegar-Flavour-Crisps-6-x-25g.png" style="width:100%;cursor:zoom-in" onclick="onClick5(this)" class="w3-hover-opacity crop" alt="Walkers Salt and Vinegar Crisps">
            </button>
        </div>
        <div class="w3-col m3">
            <button style="margin:0;padding:0" onclick="document.getElementById('modal02').style.display='block'" class="w3-button w3-black">
                <img src="https://live.staticflickr.com/2713/4519762216_fc7a5af8ac_b.jpg" style="width:100%;cursor:zoom-in" onclick="onClick5(this)" class="w3-hover-opacity crop" alt="Beacon Fries">
            </button>
        </div>
        <div class="w3-col m3">
            <button style="margin:0;padding:0" onclick="document.getElementById('modal02').style.display='block'" class="w3-button w3-black">
                <img src="https://cdn.pixabay.com/photo/2014/04/25/17/06/pringles-331944_960_720.jpg" style="width:100%;cursor:zoom-in" onclick="onClick5(this)" class="w3-hover-opacity crop" alt="Pringles">
            </button>
        </div>
    </div>
    <p>
        <div class="w3-row-padding w3-center">
            <div class="w3-col m3">
                <button style="margin:0;padding:0" onclick="document.getElementById('modal02').style.display='block'" class="w3-button w3-black">
                    <img src="https://images.pexels.com/photos/970929/pexels-photo-970929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="width:100%;cursor:zoom-in" onclick="onClick5(this)" class="w3-hover-opacity crop" alt="Sausage roll">
                </button>
            </div>
            <div class="w3-col m3">
                <button style="margin:0;padding:0" onclick="document.getElementById('modal02').style.display='block'" class="w3-button w3-black">
                    <img src="https://images.pexels.com/photos/915896/pexels-photo-915896.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="width:100%;cursor:zoom-in" onclick="onClick5(this)" class="w3-hover-opacity crop" alt="Scotch egg">
                </button>
            </div>
            <div class="w3-col m3">
                <button style="margin:0;padding:0" onclick="document.getElementById('modal02').style.display='block'" class="w3-button w3-black">
                    <img src="https://storage.needpix.com/rsynced_images/salted-peanut-macro.jpg" style="width:100%;cursor:zoom-in" onclick="onClick5(this)" class="w3-hover-opacity crop" alt="Salt and vinegar nuts">
                </button>
            </div>
            <div class="w3-col m3">
                <button style="margin:0;padding:0" onclick="document.getElementById('modal02').style.display='block'" class="w3-button w3-black">
                    <img src="https://live.staticflickr.com/65535/48754642967_1a7b1024c9_h.jpg" style="width:100%;cursor:zoom-in" onclick="onClick5(this)" class="w3-hover-opacity crop" alt="Pork pie">
                </button>
            </div>
        </div>
    </p>
    <div id="snacks_m" class="w3-modal">
        <div class="w3-modal-content w3-black">
            <div class="w3-container">
                <span onclick="document.getElementById('snacks_m').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <div class="row">
                    <div class="column">
                        <p><img id="img05" style="width:90%"></p>
                        <p id="caption5" class="w3-opacity w3-large w3-text-white"></p>
                    </div>
                    <div class="column">
                        <p class="w3-allerta w3-xxlarge w3-text-white" style="text-align:center">SERVING</p><br /><br />
                        <form>
                            <button id="decrese0" class="value-button w3-button w3-black" onclick="de_snacks()" value="Decrease Value" style="height:40px;width:40px">-</button>
                            <input type="number" id="number0" class="w3-black" value="0" readonly />
                            <button id="increase0" class="value-button w3-button w3-black" onclick="in_snacks()" value="Increase Value" style="height:40px;width:40px">+</button>
                            <button class="w3-button w3-black w3-border w3-round-large w3-allerta" style="margin:0; display:inline-block;">ADD TO CART</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="cartmodal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="document.getElementById('cartmodal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h1 class="w3-allerta w3-xxlarge">CART</h1>
            <div class="w3-row">
                <div class="w3-col s4">
                    <p class="w3-allerta w3-medium">ITEM</p>
                    <div class="item">
                        <div class="w3-button">
                            <span class="delete-btn"></span>
                        </div>
                        <div class="image">
                            <img src="" alt="" />
                        </div>
                        <div class="description">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="w3-col s4">
                    <p class="w3-allerta w3-medium">QUANTITY</p>
                    <form>
                        <button id="decrese" class="value-button w3-button w3-black" onclick="decreaseValue()" value="Decrease Value" style="height:40px;width:40px">-</button>
                        <input type="number" id="number" value="0" readonly />
                        <button id="increase" class="value-button w3-button w3-black" onclick="increaseValue()" value="Increase Value" style="height:40px;width:40px">+</button>
                    </form>
                </div>
                <div class="w3-col s4">
                    <p class="w3-allerta w3-medium">PRICE</p>
                    <div class="total-price">£</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w3-content w3-container w3-padding-64" id="contact">
    <h3 class="w3-center w3-xxlarge w3-allerta">FIND US @@</h3>
    <div class="w3-row w3-padding-32 w3-section">
        <div class="w3-col m4 w3-container">
            <img src="https://www.publicdomainpictures.net/pictures/270000/nahled/english-pub.jpg" class="w3-image w3-round" alt="Pub painting" style="width:100%">
        </div>
        <div class="w3-col m8 w3-panel">
            <div class="w3-large w3-margin-bottom w3-allerta">
                <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> SPACE, HK<br>
                <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +852 23456789<br>
                <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: mail@mail.com<br>
            </div>
            <form action="/action_page.php" target="_blank">
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-half">
                        <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                    </div>
                    <div class="w3-half">
                        <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                    </div>
                </div>
                <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
                <button class="w3-button w3-black w3-right w3-section w3-allerta" type="submit">
                    <i class="fa fa-paper-plane"></i> SEND MESSAGE
                </button>
            </form>
        </div>
    </div>
</div>

<div class="container">
   <main role="main" class="pb-3">
       @RenderBody()
   </main>
</div>

<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey w3-allerta"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

<script>
    // Login Modal
function onClick0(element) {
  document.getElementById("login").style.display = "block";
}


// Unit Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("unit").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

// Shot Image Gallery
function onClick2(element) {
  document.getElementById("img02").src = element.src;
  document.getElementById("shot").style.display = "block";
  var captionText = document.getElementById("caption2");
  captionText.innerHTML = element.alt;
}

// Shot Image Gallery
function onClick3(element) {
  document.getElementById("img03").src = element.src;
  document.getElementById("shot2").style.display = "block";
  var captionText = document.getElementById("caption3");
  captionText.innerHTML = element.alt;
}

// Soft Drinks Image Gallery
function onClick4(element) {
  document.getElementById("img04").src = element.src;
  document.getElementById("soft").style.display = "block";
  var captionText = document.getElementById("caption4");
  captionText.innerHTML = element.alt;
}

// Snacks Image Gallery
function onClick5(element) {
  document.getElementById("img05").src = element.src;
  document.getElementById("snacks_m").style.display = "block";
  var captionText = document.getElementById("caption5");
  captionText.innerHTML = element.alt;
}

//Modal Cart
function openCartModal(element) {
   document.getElementById("cartmodal").style.display = "block";
}

//Serving
function in_snacks() {
  var value = parseInt(document.getElementById('number0').value, 10);
  value = isNaN(value) ? 0 : value;
  value++;
  document.getElementById('number0').value = value;
}

function de_snacks() {
  var value = parseInt(document.getElementById('number0').value, 10);
  value = isNaN(value) ? 0 : value;
  value < 1 ? value = 1 : '';
  value--;
  document.getElementById('number0').value = value;
}

//Shopping Cart -+Button
function increaseValue() {
  var value = parseInt(document.getElementById('number').value, 10);
  value = isNaN(value) ? 0 : value;
  value++;
  document.getElementById('number').value = value;
}

function decreaseValue() {
  var value = parseInt(document.getElementById('number').value, 10);
  value = isNaN(value) ? 0 : value;
  value < 1 ? value = 1 : '';
  value--;
  document.getElementById('number').value = value;
}

//To Shopping Cart
function addToCart() {

}

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
